<div class="menu-item-inner">
	<div class="menu-item-title">
		<h2 class="menu-item-title-inner">{{{title}}}</h2>
	</div>
	<div class="menu-item-body">
		<div class="menu-item-body-inner">{{{body}}}</div>
	</div>
	<div class="menu-item-duration">
		<div class="menu-item-duration-inner">Duration: {{{duration}}}</div>
	</div>
	{{#unless _isLocked}}
	<a class="menu-item-route button" href="#/id/{{_id}}" class="{{#if _isVisited}}visited{{/if}}" aria-label="{{_coverMenu.menuViewButton}}">
		{{#if _isVisited}}
			{{{linkTextVisited}}}
         {{else}}
            {{{linkText}}}
       	{{/if}}
	</a>
	{{/unless}}
	{{#if _assessment}}
	<div class="menu-item-assement-details">
		<div class="menu-item-assement-details-inner">
			<div><b>Assessment Summary:</b></div>
			<div><b>Completion status:</b> {{#if _assessment.isComplete}}Complete{{else}}Not Completed{{/if}} </div>
			{{#if _assessment.hasScore}}
				<div><b>Last Attempt Score:</b> {{_assessment.scoreAsPercentage}}%</div>
			{{/if}}
			<div><b>Passed status:</b> {{#if _assessment.isPassed}}Passed{{else}}Not Passed{{/if}} </div>
		</div>
	</div>
	{{/if}}
	<div class="menu-item-spacer"></div>
</div>