/*MENU STYLING*/
.menu {
	.menu-container {
		position: relative;
	}

	.menu-intro-screen {
		position: absolute;
		top:0;
		left:0;
		z-index: 290;
		background-color: @secondary-color;
		display:table;
	}

	.menu-intro-screen-inner {
		text-align: center;
		max-width: 900px;
		margin: auto;
		@media all and (max-width:@device-width-large) {
			padding: 10px;
		}
	}

	.menu-title {
		margin-top: 20px;
	}

	.menu-title-inner {
		color: @menu-primary-font-color;
	}

	.menu-body {
		margin-top: 20px;
	}

	.menu-body-inner {
		color: @menu-primary-font-color;
	}

	.menu-item-container {
		position: relative;
		overflow: hidden;
	}

	.button {
		margin-top: 20px;
	}

	.menu-item-control {
		position: absolute;
		top: 47%;
		width: 50px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		font-size: 24px;
		margin-top: -50px;
		background-color:@button-color;
	    color:@button-text-color;
	    border:@button-border;
	    .no-touch & {
	        &:hover {
	            background-color:@button-hover-color;
	            color:@button-text-hover-color;
	        } 
	    }
		&.menu-item-control-left {
			left:0px;
		}
		&.menu-item-control-right {
			right:0px;
		}
		&.menu-item-control-hide {
			display:none;
		}
		@media all and (max-width:@device-width-small) {
			display: none;
		}
	}


	// Menu Item
	// =========

	.menu-item {
		background-size: cover;
		background-position: center;
		float:left;
		@media all and (max-width:@device-width-small) {
			overflow: auto;
			margin: auto;
			-webkit-overflow-scrolling: touch;
		}
		@media all and (max-height:500px) {
			overflow: auto;
			margin: auto;
			-webkit-overflow-scrolling: touch;
		}
	}

	.menu-item-inner {

		background-color: rgba(0,0,0,0.7) !important;
		.no-opacity & {
			background-image:@transparency-fallback-png !important;
		}

		@media all and (max-width: @device-width-medium) {
            text-align: center;
			max-width: 900px;
			margin: auto;
        }
        //  Only show for desktop and tablet
    	@media all and (min-width: @device-width-medium) {
			text-align: center;
			padding: 10px;
			margin: 80px auto;
	  		position: relative;
	  		top: 50%;
	  		left: 50%;
	  		transform: translate(-50%, -75%);
	  		-webkit-transform: translate(-50%, -75%);
		}
	}

	.menu-item-title {
		padding-left: 70px;
		padding-right: 70px;
		text-align: center;
	}

	.menu-item-title-inner {
		color:@menu-secondary-font-color;
		padding-top: 20px;

		@media all and (min-width: @device-width-medium) {
			padding-top: 50px;
		}
	}

	.menu-item-body-inner {
		color:@menu-secondary-font-color;
		margin-top: 40px;
		padding-left: 70px;
		padding-right: 70px;
		text-align: center;
	}

	.menu-item-assement-details {
		color:@menu-secondary-font-color;
	}

	.menu-item-route {
		margin:20px auto;
		font-weight: bold;
		display: block;
		text-align: center;
		width: 80px;
	}

	.menu-item-duration {
		display: block;
		color:@menu-secondary-font-color;
		margin-top: 20px;
		margin-bottom: 40px;
		text-align: center;
	}



	// Menu Item Indicator Container
	// =============================

	.menu-item-indicator-container {
		position: fixed;
		bottom: 0px;
		left: 0;
		background-color: rgba(0,0,0,0.5);
		.no-opacity & {
	        background-image:@transparency-fallback-png !important;
	    }
		right: 0px;
		text-align: center;
		@media all and (max-width:@device-width-small) {
			bottom: 0;
			left:0;
			background-color: black;
			max-width: 400px;
			margin:auto;
		}
	}

	.menu-item-indicator-container-inner {
		display: inline-block;
		margin:auto;
	}



	// Menu Item Indicator
	// ===================

	.menu-item-indicator {
		float:left;
		&.selected {
			.menu-item-indicator-graphic {
				opacity:1;
			}
		}
		&.item-intro-indicator {
			.menu-item-indicator-graphic {
				opacity:1;
			}
		}

	}

	.menu-item-indicator-graphic {
		position: relative;
		display:block;
		text-align: center;
		text-decoration: none;
		opacity:0.3;
		transition: opacity 0.4s;
		.no-touch &:hover {
			opacity:1;
		}
		&:focus {
			opacity:1;
		}
		img {
			display: block;
			max-height: @menu-idicator-max-height;

			@media all and (max-width:@device-width-small) {
				max-height: @menu-idicator-max-height-mobile;
			}
		}


	}

	.menu-item-assement-details {
		display:none;
		border: 1px solid white;
		margin-top: 20px;
	}

	.menu-item-assement-details-inner {
		padding: 20px;
	}

	.menu-item-spacer {
		height:50px;
	}

	// Letterbox sized viewports
	// =========================

	@media (max-height: 440px) and (max-width: @device-width-large) {

		.menu-item-inner {
			margin:20px auto;
		}

		.menu-item-indicator-graphic {
			img {
				display: block;
				max-height: 50px;
			}
			span {
				display:none;
			}
		}

		.menu-item-indicator-container {
			bottom: 0;
			left:0;
			margin-left: 0!important;
			background-color: black;
		}

		.menu-item-indicator-container-inner {
			padding: 10px;
		}

		.menu-item-spacer {
			height:100px;
		}

	}

}
