{{! Maintainers - Daryl Hedley}}
{{! .block-container: Adapt will place the articles blocks inside this class}}
<div class="article-inner">
    {{! Check if a page title exist and render it}}
    {{#if displayTitle}}
    <div class="article-title">
        <h2 class="article-title-inner" role="heading" tabindex="0" aria-level="2">
            {{{displayTitle}}}
        </h2>
    </div>
    {{/if}}
    {{! Check if page body exists and render it}}
    {{#if body}}
    <div class="article-body">
        <div class="article-body-inner">
            {{{a11y_text body}}}
        </div>
    </div>
    {{/if}}
</div>
<div class="article-block-slider clearfix">
    <div class="block-container clearfix">

    </div>
</div>
<div class="article-block-toolbar clearfix">
    <a class="left icon icon-controls-small-left custom-icon-left item-hidden" href="#" data-block-slider="left"></a>
    <a class="right icon icon-controls-small-right custom-icon-right" href="#" data-block-slider="right"></a>
    <div class="item-button-container">
    {{#each _itemButtons}}
        <div class="toolbar-progress component-item-color component-item-border" data-block-slider="index" data-block-slider-index="{{this._index}}"></div>
    {{/each}}
    </div>
</div>
