.media-autoplay-component {
	.me-plugin {
    position:static;
	}
  .external-source {
    .mejs-container {
        position: relative;
        padding-top: 35px;
        height: 0;
        overflow: hidden;
    }
    .mejs-container iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .mejs-overlay-button {
      display: none;
    }
  }
  .media-transcript {
    padding: @button-padding;
    display: block;
    color: @button-color;
    background-color: @primary-color;
    text-decoration: none;
    margin-top: 0px;
    &:hover {
      color: @button-hover-color;
      background-color: @primary-color;
    }
  }
}