.article-block-toolbar {

	background-color: rgba(0,0,0,0.9);
    padding: 10px 0px 10px 0px;
    margin-top: -50px;

	.selectedItem {
		background-color: @white !important;
	}
	
	.custom-icon-left {
		padding: 0px 10px 0px 10px;
	}
	
	.custom-icon-right {
		padding: 0px 10px 0px 10px;
	}
	
	.responsive-layout;
	.left {
		float:left;
	}
	.middle {
		float:right;
	}
	.right {
		float:right;
	}

	.icon {
		margin: 5px;
		color: @item-color;
		&:hover {
			color: @item-hover-color !important;
		}
		&.disabled {
			color: @white;
			cursor: default;
		}
	}

	&.small {
		display: none;
	}

	.item-button-container {
        text-align: center;
        margin-top: 5px;
    }
    .item-hidden {
    	visibility: hidden;
    }
}
.article-block-slider {
	overflow:hidden;
	.responsive-layout;
	.block-container {
		position:relative;
	}
	.block {
		float:left;
	}

}

.toolbar-progress {
    width: (@icon-size/3);
    height: (@icon-size/3);
    display: inline-block;
    background-color: @item-color;
    border:1px solid @foreground-color;
    & when (@item-border-width = 1px) {
        border: @item-border;
    }
    border-radius: 50%;
    margin: 1px;        
    &.selected {
        background-color: @item-text-color;        
    }
}
