.hotgrid-component {

	.hotgrid-widget {
		position: relative;
	}

	.hotgrid-grid-item {
		float:left;
		text-align: center;
		width:50%;

		&.visited {
			.hotgrid-item-states-image {
				.item-states-image.visited;					
			}	
		}
	}

	.hotgrid-item-image {
		display:block;
		margin: 10px;

		img {
			display: block;
			transition: all 0.25s;
		}		

		&.hotgrid-item-states-image {
			.item-states-image.default;
			.no-touch & {
				&:hover {
					.item-states-image.hover;
				}
			}											
		}

		@media all and (max-width:(@device-width-medium - 1)) {
			margin: 5px;
		}

	}

	.hotgrid-shadow {
		display: none;
		opacity: 0;
		position: fixed;
		z-index: 998;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: @transparency;
	}

	.hotgrid-content {
		position: fixed;
		top: 50%;
		left: 0;
		width: 100%;
		overflow: hidden;
		background-color: @secondary-color;
		display:none;
		opacity:0;
		z-index: 999;

		@media all and (max-width:(@device-width-small - 1)) {
		 	margin:0!important;
		 	top: 0;
		 	height: 100%;
			overflow-y: scroll;
		    -webkit-overflow-scrolling: touch;
		}

	}

	.hotgrid-content-inner {
		max-width: @device-width-large;
		margin: auto;
	}

	.hotgrid-content-item {
		display:none;
	}

	.hotgrid-content-item-inner {
		padding: 0 20px 20px;
	}

	.hotgrid-contents {
		width: 60%;
		float: left;
		@media all and (max-width:(@device-width-medium - 1)) {
		 	width: auto;
		 	margin-bottom: 20px;
		}
	}

	.hotgrid-contents-inner {
		margin-right: 20px;
	}

	.hotgrid-item-graphic {
		width: 40%;
	    float: right;
	    text-align: center;
	    @media all and (max-width:(@device-width-medium - 1)) {
		 	width: auto;
		}
	}

	.hotgrid-content-title {
		color: @background-color;
	}

	.hotgrid-content-body {
		color: @background-color;
	}

	.content-popup-icon-close {
		float:right;
		color:@background-color;
		padding: 10px;
		font-size: 26px;
		.no-touch & {
			&:hover {
				color:darken(@background-color, 30%);
			}
		}
	}

	.hotgrid-item-title {
		color: white;
	}

}

.item-states-image {

	.default {
		img.hotgrid-item-image-hover {
			display: none;
		}			
		img.hotgrid-item-image-visited {
			display:none;
		}		
	}

	.hover {
		> img {
			display:none;
		}
		img.hotgrid-item-image-hover {
			display: block;
		}			
		img.hotgrid-item-image-visited {
			display:none;
		}
	}

	.visited {
		> img {
			display:none;
		}
		img.hotgrid-item-image-hover {
			display: none !important;
		}			
		img.hotgrid-item-image-visited {
			display:block !important;
		}
	}

}










