<div class="component-inner custom-hotgrid-inner" role="region" aria-label="{{_accessibility._ariaRegions.custom-hotGrid}}">
    {{> component this}}
    <div class="component-widget custom-hotgrid-widget">

        <div class="custom-hotgrid-grid">
            <div class="custom-hotgrid-grid-inner clearfix">
                {{#each _items}}
                <div class="custom-hotgrid-grid-item" aria="{{itemAria}}">
                    {{#if _graphic.hasImageStates}} 
                        <a href="#" class="custom-hotgrid-item-image custom-hotgrid-item-states-image">                                                 
                            <img src="{{_graphic.src}}" alt="{{_graphic.alt}}" title="{{_graphic.title}}"/>
                            <img src="{{_graphic.srcHover}}" class="custom-hotgrid-item-image-hover" alt="{{_graphic.alt}}" title="{{_graphic.title}}" >
                            <img src="{{_graphic.srcVisited}}" class="custom-hotgrid-item-image-visited" alt="{{_graphic.alt}}" title="{{_graphic.title}}" >                                          
                        </a>
                        <div class="custom-hotgrid-item-title">{{_graphic.title}}</div>   
                    {{else}}
                        <a href="#" class="custom-hotgrid-item-image custom-hotgrid-item-states-css">
                             <img src="{{_graphic.src}}" class="" alt="{{_graphic.alt}}" title="{{_graphic.title}}"/>
                        </a>
                        <div class="custom-hotgrid-item-title">{{_graphic.title}}</div>
                    {{/if}}                                        
                </div>
                {{/each}}
            </div>
        </div>

        <div class="custom-hotgrid-shadow"></div>

        <div class="custom-hotgrid-content">
            <div class="content-popup-done clearfix">
                <a href="#" class="content-popup-icon-close icon icon-cross" aria="{{_accessibility._ariaLabels.custom-hotgridPopUp}}"></a>
            </div>
            <div class="custom-hotgrid-content-inner">
                {{#each _items}}
                <div class="custom-hotgrid-content-item component-item">
                    <div class="custom-hotgrid-content-item-inner component-item-inner clearfix">

                        <div class="custom-hotgrid-contents">
                            <div class="custom-hotgrid-contents-inner">
                                {{#if title}}
                                    <h5 class="custom-hotgrid-content-title">
                                        {{{title}}}
                                    </h5>
                                {{/if}}
                                {{#if body}}
                                    <div class="custom-hotgrid-content-body">
                                        {{{body}}}
                                    </div>
                                {{/if}}
                            </div>
                        </div>

                        <div class="custom-hotgrid-item-graphic">
                            <img src="{{_itemGraphic.src}}" alt="{{_itemGraphic.alt}}"/>
                        </div>

                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
</div>