// Article styling
// ===============

.article {
    background-color:#000;
    .article-inner {
        // Tablet and desktop
        @media all and (min-width: @device-width-medium) {
            min-height: 648px;
        }
    }
    .article-title {
        text-align: center;
        background-color: @primary-color;
        color: @item-text-color;
    }
    .article-title-inner {
        padding:@article-title-padding;
    }
    .article-body {
        .responsive-layout;
    }
    .article-body-inner {
        padding:@article-body-padding;
    }
}