// Block styling
// =============

.block {
    .responsive-layout;
    .block-inner {
        padding:20px;
        padding-bottom: 30px;
    }
    .block-title {
        color: @item-text-color;
        text-align:center;
        background-color: @primary-color;
    }
    .block-title-inner {
        padding:@block-title-padding;
    }
    .block-body {
        background-color: rgba(0,0,0,0.8) !important;
        .no-opacity & {
            background-image:@transparency-fallback-png !important;
        }
    }
    .block-body-inner {
        padding:@block-body-padding;

        @media all and (max-width: @device-width-medium) {
            .desktop-instruction {
                display: none;
            }
        }
        @media all and (min-width: @device-width-medium) {
            .mobile-instruction {
                display: none;
            }
        }
        
    }
}