// Component styling
// =================

.component {
    .component-inner{
        background-color: none;
        margin-bottom: 50px;
        padding-bottom: 20px;
        background-color: rgba(0,0,0,0.8);
        .no-opacity & {
            background-image:@transparency-fallback-png;
        }
    }
    .component-title{
        margin:@component-title-margin;
    }
    .component-title-inner {
        padding:@component-title-padding;
    }
    .component-body{
        margin:@component-body-margin;
    }
    .component-body-inner{
        padding:@component-body-padding;
        @media all and (max-width: @device-width-medium) {
            .desktop-instruction {
                display: none;
            }
        }
        @media all and (min-width: @device-width-medium) {
            .mobile-instruction {
                display: none;
            }
        }
    }
    .component-instruction {
        margin:@component-instruction-margin;
    }
    .component-instruction-inner {
        padding:@component-instruction-padding;
        font-weight:bold;
        &.validation-error {
            color: @validation-error-text-color;
        }
        @media all and (max-width: @device-width-medium) {
            .desktop-instruction {
                display: none;
            }
        }
        @media all and (min-width: @device-width-medium) {
            .mobile-instruction {
                display: none;
            }
        }
    }
    .component-widget{
        margin-left:@component-body-padding-sides;
        margin-right:@component-body-padding-sides;
    }
    ol.n {
        list-style-type: lower-latin;
        margin-left: 50px;
    }
}