// Drawer styling
// ==============

.drawer {
    background-color:@drawer-color;
    color: @drawer-text-color;
    .drawer-toolbar {
        border-bottom: 1px solid darken(@primary-color, 10%);
    }
    .drawer-toolbar .icon {
        padding:@navigation-padding;
        @media all and (max-width:(@device-width-small - 1px)) {
            padding:@navigation-padding-mobile;
        }
        color: @drawer-icon-color;
        &:hover {
            color:@drawer-icon-hover-color;
        }
    }
    .drawer-inner {
        border-left: 5px solid darken(@drawer-color, 10%);
    }
    .drawer-item {
        .drawer-item-open {
            text-decoration: none;
            color: @drawer-item-text-color;
            border-bottom: 1px solid darken(@primary-color, 10%);
            .no-touch &:hover {
                color:@drawer-item-text-hover-color;
                background-color: @drawer-item-hover-color;
            }
        }
        h5 {
            font-size:16px;
            font-weight:@font-weight-bold;
        }
    }
    .drawer-item-open {
        padding:@drawer-item-padding;
    }
}