// Font setup
// ==========

body {
    font-family: @font-family;
    font-weight: @font-weight-normal;
    color:@font-color;
    font-size:@font-size;
    line-height: (@font-size + @font-extra-line-height);
}

h1 {
    font-size:(@font-size*2);
    line-height: ((@font-size*2) + @font-extra-line-height);
    font-weight: @font-weight-normal;
}

h2 {
    font-size:(@font-size*2);
    line-height: ((@font-size*2) + @font-extra-line-height);
    font-weight: @font-weight-normal;
}

h3 {
    font-size:(@font-size*2);
    line-height: ((@font-size*2) + @font-extra-line-height);
    font-weight: @font-weight-normal;
}

h4 {
    font-size:(@font-size*1.25);
    line-height: ((@font-size*1.25) + @font-extra-line-height);
    font-weight: @font-weight-normal;
}

h5 {
    font-size:(@font-size*1);
    line-height: ((@font-size*1) + @font-extra-line-height);
    font-weight: @font-weight-bold;
}

h6 {
    font-size:(@font-size*1);
    line-height: ((@font-size*1) + @font-extra-line-height);
    font-weight: @font-weight-bold;
}