.article05_2 {
    .block {
        min-height: 475px !important;
    }
}
.article10_1b {
    .block {
        min-height: 522px !important;
    }
}
.article15_1 {
    .block {
        min-height: 465px !important;
    }
    .component-inner{
        margin-bottom: 0px !important;
    }
}
.article15_4 {
    .block {
        min-height: 465px !important;
    }
    .component-inner{
        margin-bottom: 0px !important;
    }
}
.article20_4 {
    .block {
        min-height: 465px !important;
    }
    .component-inner{
        margin-bottom: 0px !important;
    }
}
.removeInsPaddingBot {
    .component-instruction {
        margin-bottom: 0px !important;
    }
    .component-instruction-inner {
        padding-bottom: 10px !important;
    }
}
.a-21_1 {
    .block-inner {
        background: #020202 !important;
    }
    .component-inner{
        margin-bottom: 0px !important;
    }
}




.customIconPopup {
    float: right !important;
    margin-top: 1px !important;
    margin-right: 20px !important;

    .icon-popup-contents {
        width: 100% !important;
    }
}

.customIconPopupComponent {
    float: right !important;
    margin-top: -19px !important;
    margin-right: 10px !important;

    .icon-popup-contents {
        width: 100% !important;
    }
}

.customBlockReveal {
    .block-reveal-graphic-button {
        float: right;
        margin-top: 11px;
        margin-right: @block-title-padding-sides;
    }
}

.tutor-inner {
    padding-bottom: 40px !important;
}



.endArticle {
    .component-inner{
        margin-bottom: 0px !important;
    }
    //  Only show for desktop and tablet
    @media all and (min-width: @device-width-medium) {
        .block-inner {
            margin-top: 100px !important;
            width: 65% !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}

// ====================

.hideMobileImage{
    @media (max-width:@device-width-small) {
        .graphic-component {
            display: none !important;
        }
    }
}

.resourcesComponent{
    width: 10% !important;
    float: right !important;
    @media all and (max-width:(@device-width-medium - 1)) {
        width: 100% !important;
        float: left !important;
    }
    .component-widget{
        margin: 0 !important;
    }
    .custom-hotgrid-item-image {
        margin: 0px !important;
        margin-top: 20px !important;
    }
    .content-popup-icon-close {
        .no-touch & {
            &:hover {
                color:@button-hover-color !important;
            }
        }
    }
    .custom-hotgrid-content-item-inner{
        padding-bottom: 60px !important;
    }
    .custom-hotgrid-item-graphic {
        @media all and (max-width:(@device-width-medium - 1)) {
            display: none;
        }
    }
}

.parentResourcesComponent{
    width:40% !important;
    float: left !important;
    @media all and (max-width:(@device-width-medium - 1)) {
        width: 100% !important;
    }
}

.parentResourcesComponentFull{
    width:90% !important;
    float: left !important;
    @media all and (max-width:(@device-width-medium - 1)) {
        width: 100% !important;
    }
}


.mediumSizedVideo {
    //  Only show for desktop and tablet
    @media all and (min-width: @device-width-medium) {
        .component-widget {
            width: 60% !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
        .block-inner {
            padding-bottom: 0px !important;
        }
        .component-container {
            padding-top: 10px !important;
        }
    }
}

.fullWidthVideo {
    .component-widget {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.mediumSizedComponent {
    //  Only show for desktop and tablet
    @media all and (min-width: @device-width-medium) {
        .component-instruction {
            margin-bottom: 0px !important;
        }
        .component-widget,
        .component-container {
            width: 65% !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}






.customLinks{
    a:link {
        color: @item-color !important;
    }
    a:visited {
        color: @item-visited-color !important;
    }
    a:hover {
        color: @item-hover-color !important;
    }
}

.addBlockTop{
    .block-inner {
        margin-top: 100px !important;
    }
}

.removeBlockTop{
    .block-inner {
        margin-top: 0px !important;
    }
}

.blockSliderIns {
    //  Only apply to mobile
    @media all and (max-width: @device-width-small) {
        .component-instruction{
            display: none !important;
        }
    }
}

.blockSliderBlockBody {
    .block-body-inner {
        margin-left: -30px !important;
        margin-top: -30px !important;
        margin-right: -30px !important;
    }
    .block-body {
        margin-left: -30px !important;
        margin-right: -30px !important;
        padding-left: 30px;
        padding-right: 30px;
    }
    .component-inner {
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
    }
}

// Block Slider styling
// ====================
.blockSliderStyling {
    .article-inner {
        min-height: 10px !important;
    }
    padding-bottom: 50px !important;
    .block {
        @media all and (min-width:@device-width-large) {
            width:(@device-width-large)-40 !important;
        }
        @media all and (max-width:@device-width-medium) and (min-width:(@device-width-small)) {
            width:(@device-width-small)-40 !important;
        }
    }
    .block-inner {
        margin-top: 0px !important;
    }
    .article-block-slider,
    .article-block-toolbar
     {
        @media all and (min-width:@device-width-large) {
            width:(@device-width-large)-40 !important;
        }
        @media all and (max-width:@device-width-medium) and (min-width:(@device-width-small)) {
            width:(@device-width-small)-40 !important;
        }
    }
}
// ====================

// component backgrounds
// ====================
.addComponentBG{
    .component-container{
        padding-bottom: 20px !important;
        background-color: rgba(0,0,0,0.8) !important;
        .no-opacity & {
            background-image:@transparency-fallback-png !important;
        }
    }
}

.addComponentBodyBG {
    .component-body{
        background-color: rgba(0,0,0,0.8) !important;
        .no-opacity & {
            background-image:@transparency-fallback-png !important;
        }
    }
    .component-instruction {
        background-color: rgba(0,0,0,0.8) !important;
        .no-opacity & {
            background-image:@transparency-fallback-png !important;
        }
    }
    .component-instruction-inner {
        padding-bottom: 30px !important;
    }
}

.removeBlocksliderPadding{
    .block-inner {
        padding: 10px !important;
    }
    .component-inner{
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }
}

// ====================

.removeTitleMargin{
    .component-title{
        margin-top: 0px !important;
    }
}

.introArticle{
    margin-top: -30px !important;
    .article-title {
        visibility: hidden !important;
        display: none !important;
    }
    .block{
        padding-top: 50px !important;
    }
}

.removeTitle{
    margin-top: -30px !important;
    .article-title {
        visibility: hidden !important;
        display: none !important;
    }
}

.endBlock {
    //  Only show for desktop and tablet
    @media all and (min-width: @device-width-medium) {
        padding-top: 30px !important;
    }
}

.removeBlockTop{
    .block-inner {
        margin-top: 0px !important;
    }
}

// Body text
// ====================
.bodyTextBlack blacktext{
    color:#000 !important;
}
// ====================


// Instruction text
// ====================
.insTextHighlight instr{
    color:@item-color !important;
}

.insTextHighlight instext{
    font-weight:bold !important;
}

.blockinsText blockinstr{
    font-weight:bold !important;
}
// ====================

// Article reveal extension
// ====================
.article-reveal-text-container-body{
    font-weight:bold !important;
}

// ====================

// Extra top padding
// ====================
.paddingTop{
    padding-top: 30px !important;
}
// ====================

.componentPadBot{
    .component-container{
        padding-bottom: 40px !important;
    }
}

.paddingBottom{
    //  Only show for desktop and tablet
    @media all and (min-width: @device-width-medium) {
        padding-bottom: 150px !important;
    }
}

// Remove component background
// ====================
.removeComponentBG {
    .component-inner{
        background-color: transparent !important;
    }
}
// ====================

.centerTextComponent {
    width: 80% !important;
    @media all and (max-width: @device-width-small) {
        width: 100% !important;
    }
    margin-left: auto !important;
    margin-right: auto !important;
}


// Menu Link
// ====================
.page-menu-button {
    display: block;
    margin: auto;
    text-align: center;
    font-weight: bold;
}
// ====================

// Narrative styling
// ====================
.narrativeStyling{
    .component-container{
        margin-bottom: -30px !important;
        margin-top: 30px !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
        padding-bottom: 60px !important;
        background-color: rgba(0,0,0,0.8) !important;
        .no-opacity & {
            background-image:@transparency-fallback-png !important;
        }
    }
    .component-instruction {
        margin-bottom: 0px !important;
    }
}

.narrativeNoImage{
    &.desktop { 
        .narrative-slide-container {
            width:100% !important;
            margin-right: 30px !important;
            min-height: 300px !important;
        }
        .narrative-slider-graphic {
            //width:60% !important;
        }
    }
    .narrative-content {
        position:absolute !important;
        width: auto !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
        margin-right: 30px !important;
        margin-bottom: 60px !important;
    }
    .narrative-content-inner {
        padding-left:70px !important;
        padding-right:70px !important;
    }
}

// ====================

// Accordion styling
// ====================
.accordionStyling{
    .accordion-item-body {
        color:@item-text-color !important;
        background-color:@primary-color !important;
    }
}
// ====================

// Hotgrid styling
// ====================
.hotgridStyling{
    .content-popup-icon-close {
        .no-touch & {
            &:hover {
                color:@button-hover-color !important;
            }
        }
    }
    .custom-hotgrid-item-image {
        img {
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
    .custom-hotgrid-content-item-inner{
        padding-bottom: 60px !important;
    }
    .custom-hotgrid-grid-item {
        @media all and (max-width:(@device-width-medium - 1)) {
            width:100% !important;
        }
    }
    .custom-hotgrid-item-graphic {
        @media all and (max-width:(@device-width-medium - 1)) {
            display: none !important;
        }
    }
    // Hide title
    .custom-hotgrid-item-title {
        display: none !important;
    }
}
.hotgridNoImage{
    .custom-hotgrid-item-graphic {
        display: none !important;
    }
    .custom-hotgrid-contents {
        width: 100% !important;
    }
}
.hotGrid2Images {
    .custom-hotgrid-grid-item {
        @media all and (min-width: @device-width-medium) {
            width: 45% !important;
        }
    }
    .custom-hotgrid-grid-inner {
        margin-left: 12% !important;
    }
}
// ====================

.revealStyling{
    .component-container{
        padding-left: 30px !important;
        padding-right: 30px !important;
        padding-bottom: 30px !important;
        background-color: rgba(0,0,0,0.8) !important;
        .no-opacity & {
            background-image:@transparency-fallback-png !important;
        }
    }
    .reveal-widget {
        padding-top: 30px !important;
    }
    .reveal-widget-control {
        margin-top: 30px !important;
        background-color: rgba(237, 137, 23, 0.5) !important;
        width: 80px !important;
        &:hover {
            background-color: rgba(0, 112, 192, 0.5) !important;
        }
    }
    .reveal-widget-icon {
        margin-top: -25px !important;
    }
    .reveal-widget-item-text span {
        background-color: rgba(0,0,0,0.8) !important;
        .no-opacity & {
            background-image:@transparency-fallback-png !important;
        }
        margin: 20px !important;
        max-height: 265px !important;
        max-width: 100% !important;
        padding-top: 20px !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
        padding-bottom: 20px !important;

        &.reveal-left {
            left: 100px !important;
        }

        &.reveal-right {
            right: 100px !important;
        }
    }
}

// Hotgraphic styling
// ====================
.hotgraphic-popup-toolbar {
    background-color: @primary-color !important;
}
.hotgraphic-item-body {
    color: #000 !important;
}
// ====================

// Article reveal extension styling
// ====================
.article-reveal-content-container {
    max-width: 980px !important;
    background-color: @primary-color !important;
}
.article-reveal-content-container-inner {
    color: @white !important;     
}
.article-reveal-graphic-container {
    .article-reveal-graphic {
        @media all and (min-width:850px) {
            background-image: url(../../course/en/images/more_info_active.png) !important;
            background-position: top left !important;
            background-repeat: no-repeat !important;
            margin-left: 5px !important;
            margin-top: 5px !important;
            width: 95px !important;
            height: 70px !important;
        }
    }
}
.article-reveal-text-container {
    padding: 20px !important;
    @media all and (max-width:850px) {
        text-align: center !important;
    }
    @media all and (max-width: 520px) {
        padding: 15px !important;
    }
}
.article-reveal-open-button {
    background-color: @item-color !important;
    margin-top: -70px !important;
    &.visited {
        .article-reveal-open-button-icon {
            color: @item-visited-color !important;
        }
        &.show:hover {
            background-color: @item-hover-color !important;
        }
    }
    &:hover {
        background-color: @item-hover-color !important;
    }
}
// ====================

.flipCard-item-back {
    padding: 20px !important;
    background: @secondary-color !important;
    color: #fff !important;
}


// Add question icon to question components
// ====================
.customQIcon{
    //  Only show for desktop and tablet
    @media all and (min-width: @device-width-medium) {
        .component-body{
            background-image: url(../../course/en/images/questionIcon.png);
            background-repeat: no-repeat;
        }
        .component-body-inner{
            margin-left:65px !important;
            padding-top: 20px !important;
        }
        .component-instruction-inner {
            margin-left:65px !important;
        }
    }
    .component-widget{
        margin-top:@component-body-padding-top !important;
    }
}
// ====================


.removeBlockSpace{
    margin-top: -50px !important;
}

// Resources feature
// ====================
.resourcesElement{
    background-color: @primary-color !important;
    padding-top: 0px !important;
    margin-top: -80px !important;
    .component-body{
        background-image: url(../../course/en/images/resource_icon_active.png);
        background-repeat: no-repeat;
    }
    .component-body-inner{
        margin-left:90px !important;
    }
}
.resourcesElement largetext{
    font-size: 28px !important;
}
// ====================

.mcq-item label {            
    margin-bottom: 1px !important;   
}

.mcq-item-inner,
.gmcq-item-inner {   
    font-weight: @font-weight-bold !important;
}

// Article and Block backgrounds
// ====================
//
.bgBlack {
    background-color: #000;
}

.blockBG{
    background-color: rgba(0,0,0,0.8) !important;
    .no-opacity & {
        background-image:@transparency-fallback-png !important;
    }
}

.block05_2_bg {
    background-image: url(../../course/en/images/block05_2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.block05_3_bg {
    background-image: url(../../course/en/images/block05_3.jpg);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.block15_1_1_bg {
    background-image: url(../../course/en/images/block15_1_1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.block15_1_2_bg {
    background-image: url(../../course/en/images/block15_1_2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.block15_1_3_bg {
    background-image: url(../../course/en/images/block15_1_3.jpg);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.block15_1_4_bg {
    background-image: url(../../course/en/images/block15_1_4.jpg);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.block15_3_2_bg {
    background-image: url(../../course/en/images/block15_3_2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.block15_3_3_bg {
    background-image: url(../../course/en/images/block15_3_3.jpg);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.block20_4_2_bg {
    background-image: url(../../course/en/images/block20_4_2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.main_bg {
    background-image: url(../../course/en/images/aml_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.q_bg {
    background-image: url(../../course/en/images/q_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.c25_bg {
    background-image: url(../../course/en/images/c25_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.c30_bg {
    background-image: url(../../course/en/images/c30_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.c35_bg {
    background-image: url(../../course/en/images/c35_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.c45_bg {
    background-image: url(../../course/en/images/c45_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.c60_bg {
    background-image: url(../../course/en/images/c60_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.c125_bg {
    background-image: url(../../course/en/images/c125_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.c145_bg {
    background-image: url(../../course/en/images/c145_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.c185_bg {
    background-image: url(../../course/en/images/c185_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.c195_bg {
    background-image: url(../../course/en/images/c195_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.c200_bg {
    background-image: url(../../course/en/images/c200_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.c270_bg {
    background-image: url(../../course/en/images/c270_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}
.c285_bg {
    background-image: url(../../course/en/images/c285_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.pageEnd_bg{
    background-image: url(../../course/en/images/pageEnd.png);
    background-position: top;
    background-repeat: repeat;
    width: 100%;
}

.quiz_bg{
    background-image: url(../../course/en/images/quiz_bg.png);
    background-position: top;
    background-repeat: repeat;
    width: 100%;
}
// ====================


//// PULSING BUTTON ////

.custom-pulsing-button {
  -webkit-animation: pulse 3s ease infinite;
  -moz-animation: pulse 3s ease infinite;
  -ms-animation: pulse 3s ease infinite;
  -o-animation: pulse 3s ease infinite;
  animation: pulse 3s ease infinite;
}

.custom-pulsing-button:hover {
  background-color: @item-hover-color;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
  }
  25% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    background-color: @item-hover-color;
  }
  100% {
    -webkit-transform: scale(0.9);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
  }
  25% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.9);
    background-color: @item-hover-color;
  }
  100% {
    -moz-transform: scale(0.9);
  }
}

@-ms-keyframes pulse {
  0% {
    -ms-transform: scale(0.9);
  }
  25% {
    -ms-transform: scale(1);
  }
  50% {
    -ms-transform: scale(0.9);
    background-color: @item-hover-color;
  }
  100% {
    -ms-transform: scale(0.9);
  }
}

@-o-keyframes pulse {
  0% {
    -o-transform: scale(0.9);
  }
  25% {
    -o-transform: scale(1);
  }
  50% {
    -o-transform: scale(0.9);
    background-color: @item-hover-color;
  }
  100% {
    -o-transform: scale(0.9);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
    background-color: @item-hover-color;
  }

  100% {
    transform: scale(0.9);
  }
}



//////////////// CUSTOM TWEAKS/////////////

.t3_c2 {
    .custom-hotgrid-grid-item {
        width: 40% !important;
    }
    .custom-hotgrid-grid {
        margin-left: 140px !important;
    }
}    

.t3_c1 {
    .narrative-body-inner {
        padding: 0px 30px 0px !important;
    }
}

.t3_c3 {
    .accordion-item-body {
        color: #000 !important;
    }
}