// =========
// Variables
// =========
@black:#000;
@white:#fff;
@grey:#ccc;

// Main colors
// ===========

@primary-color:#222130;
@secondary-color:#183152;
@tertiary-color:darken(#1b87b2, 10%);

@foreground-color:#49c8b4;
@background-color:#fff;

@inverted-foreground-color:#fff;
@inverted-background-color:#183152;

@transparency:rgba(255,255,255,0.8);
@transparency-fallback-png:url('assets/transparency-dark.png');

// ================
// Validation Error
// ================

// Validation Error color
// ======================

@validation-error-text-color:#f55;
@validation-error-icon-color:#f55;
@validation-error-border-color:#f55;

// ==========
// Item setup
// ==========

// Item color
// ==========

@item-color:#ED8917;
@item-hover-color:#0070c0;
@item-disabled-color:#999;
@item-visited-color:@item-disabled-color;
@item-selected-color:@secondary-color;
@item-text-color:#fff;
@item-text-hover-color:#fff;
@item-text-disabled-color:#fff;
@item-text-visited-color:#fff;
@item-text-selected-color:#fff;


// Item padding
// ============

@item-padding-top:10px;
@item-padding-right:10px;
@item-padding-bottom:10px;
@item-padding-left:10px;

@item-padding:@item-padding-top @item-padding-right @item-padding-bottom @item-padding-left;


// Item border
// ===========

@item-border-width:1px;
@item-border-style:none;
@item-border-color:@primary-color;
@item-border-hover-color:@primary-color;
@item-border-disabled-color:@primary-color;
@item-border-visited-color:@primary-color;
@item-border-selected-color:@primary-color;
@item-border: @item-border-width @item-border-style @item-border-color;


// Item spacing
// ============

@item-spacing:1px;


// Button
// ======

@button-color:@item-color;
@button-hover-color:@item-hover-color;
@button-disabled-color:@item-disabled-color;

@button-text-color:#fff;
@button-text-hover-color:#fff;
@button-text-disabled-color:#333;

@button-padding-top:8px;
@button-padding-right:10px;
@button-padding-bottom:8px;
@button-padding-left:10px;

@button-padding:@button-padding-top @button-padding-right @button-padding-bottom @button-padding-left;

@button-margin-top:10px;
@button-margin-right:0px;
@button-margin-bottom:10px;
@button-margin-left:0px;

@button-margin:@button-margin-top @button-margin-right @button-margin-bottom @button-margin-left;


// Border
// ======

@button-border-width:0px;
@button-border-style:solid;
@button-border-color:#c5c5c5;
@button-border-hover-color:#c5c5c5;
@button-border-disabled-color:#c5c5c5;
@button-border: @button-border-width @button-border-style @button-border-color;


// Device widths
// =============

@device-width-small: 520px;
@device-width-medium: 760px;
@device-width-large: 1024px;
@ie8-max-width:1024px;

// ==============
// Global spacing
// ==============

// Title paddings
// ==============

@menu-title-padding-top:30px;
@menu-title-padding-sides:30px;
@menu-title-padding-bottom:30px;

@menu-title-padding:@menu-title-padding-top @menu-title-padding-sides @menu-title-padding-bottom;

@page-title-padding-top:10px;
@page-title-padding-sides:10px;
@page-title-padding-bottom:10px;

@page-title-padding:@page-title-padding-top @page-title-padding-sides @page-title-padding-bottom;

@article-title-padding-top:10px;
@article-title-padding-sides:10px;
@article-title-padding-bottom:10px;

@article-title-padding:@article-title-padding-top @article-title-padding-sides @article-title-padding-bottom;

@block-title-padding-top:10px;
@block-title-padding-sides:10px;
@block-title-padding-bottom:10px;

@block-title-padding:@block-title-padding-top @block-title-padding-sides @block-title-padding-bottom;

@component-title-padding-top:30px;
@component-title-padding-sides:30px;
@component-title-padding-bottom:0px;

@component-title-padding:@component-title-padding-top @component-title-padding-sides @component-title-padding-bottom;


// Title margins
// =============

@menu-title-margin-top:30px;
@menu-title-margin-sides:30px;
@menu-title-margin-bottom:30px;

@menu-title-margin:@menu-title-margin-top @menu-title-margin-sides @menu-title-margin-bottom;

@page-title-margin-top:10px;
@page-title-margin-sides:10px;
@page-title-margin-bottom:10px;

@page-title-margin:@page-title-margin-top @page-title-margin-sides @page-title-margin-bottom;

@article-title-margin-top:10px;
@article-title-margin-sides:10px;
@article-title-margin-bottom:10px;

@article-title-margin:@article-title-margin-top @article-title-margin-sides @article-title-margin-bottom;

@block-title-margin-top:0px;
@block-title-margin-sides:0px;
@block-title-margin-bottom:0px;

@block-title-margin:@block-title-margin-top @block-title-margin-sides @block-title-margin-bottom;

@component-title-margin-top:0px;
@component-title-margin-sides:0px;
@component-title-margin-bottom:0px;

@component-title-margin:@component-title-margin-top @component-title-margin-sides @component-title-margin-bottom;


// Body paddings
// =============

@menu-body-padding-top:30px;
@menu-body-padding-sides:30px;
@menu-body-padding-bottom:0px;

@menu-body-padding:@menu-body-padding-top @menu-body-padding-sides @menu-body-padding-bottom;

@page-body-padding-top:10px;
@page-body-padding-sides:10px;
@page-body-padding-bottom:10px;

@page-body-padding:@page-body-padding-top @page-body-padding-sides @page-body-padding-bottom;

@article-body-padding-top:10px;
@article-body-padding-sides:20px;
@article-body-padding-bottom:40px;

@article-body-padding:@article-body-padding-top @article-body-padding-sides @article-body-padding-bottom;

@block-body-padding-top:30px;
@block-body-padding-sides:30px;
@block-body-padding-bottom:30px;

@block-body-padding:@block-body-padding-top @block-body-padding-sides @block-body-padding-bottom;

@component-body-padding-top:30px;
@component-body-padding-sides:30px;
@component-body-padding-bottom:30px;

@component-body-padding:@component-body-padding-top @component-body-padding-sides @component-body-padding-bottom;


// Body margins
// ============

@menu-body-margin-top:10px;
@menu-body-margin-sides:10px;
@menu-body-margin-bottom:10px;

@menu-body-margin:@menu-body-margin-top @menu-body-margin-sides @menu-body-margin-bottom;

@page-body-margin-top:10px;
@page-body-margin-sides:10px;
@page-body-margin-bottom:10px;

@page-body-margin:@page-body-margin-top @page-body-margin-sides @page-body-margin-bottom;

@article-body-margin-top:10px;
@article-body-margin-sides:10px;
@article-body-margin-bottom:10px;

@article-body-margin:@article-body-margin-top @article-body-margin-sides @article-body-margin-bottom;

@block-body-margin-top:10px;
@block-body-margin-sides:10px;
@block-body-margin-bottom:10px;

@block-body-margin:@block-body-margin-top @block-body-margin-sides @block-body-margin-bottom;

@component-body-margin-top:0px;
@component-body-margin-sides:0px;
@component-body-margin-bottom:0px;

@component-body-margin:@component-body-margin-top @component-body-margin-sides @component-body-margin-bottom;


// Instruction padding
// ===================

@component-instruction-padding-top:0px;
@component-instruction-padding-sides:30px;
@component-instruction-padding-bottom:30px;

@component-instruction-padding:@component-instruction-padding-top @component-instruction-padding-sides @component-instruction-padding-bottom;


// Instruction margin
// ==================

@component-instruction-margin-top:0px;
@component-instruction-margin-sides:0px;
@component-instruction-margin-bottom:0px;

@component-instruction-margin:@component-instruction-margin-top @component-instruction-margin-sides @component-instruction-margin-bottom;

// Navigation
// ==========

@navigation-color:#000;
@navigation-icon-color:@button-color;
@navigation-icon-hover-color:#fff;

@navigation-border-width:0px;
@navigation-border-style:solid;
@navigation-border-color:#000;
@navigation-border: @navigation-border-width @navigation-border-style @navigation-border-color;

@navigation-height: 40px;
@navigation-height-mobile: 30px;
@navigation-padding: ((@navigation-height - @icon-size)/2);
@navigation-padding-mobile: ((@navigation-height-mobile - @icon-size)/2);


// Drawer
// ======

@drawer-color:@primary-color;
@drawer-text-color:#fff;

@drawer-icon-color:#fff;
@drawer-icon-hover-color:@button-hover-color;

@drawer-item-color:@primary-color;
@drawer-item-hover-color:@button-hover-color;

@drawer-item-text-color:#fff;
@drawer-item-text-hover-color:#fff;

@drawer-item-padding-top:10px;
@drawer-item-padding-right:10px;
@drawer-item-padding-bottom:10px;
@drawer-item-padding-left:10px;

@drawer-item-padding:@drawer-item-padding-top @drawer-item-padding-right @drawer-item-padding-bottom @drawer-item-padding-left;


// Notify
// ======

@notify-color:@primary-color;
@notify-text-color:#fff;

@notify-icon-color:#fff;
@notify-icon-hover-color:@button-hover-color;

@notify-button-color:#fff;
@notify-button-hover-color:@button-hover-color;
@notify-button-text-color:@primary-color;
@notify-button-text-hover-color:#fff;

@notify-popup-padding-top:30px;
@notify-popup-padding-right:30px;
@notify-popup-padding-bottom:30px;
@notify-popup-padding-left:30px;

@notify-popup-padding:@notify-popup-padding-top @notify-popup-padding-right @notify-popup-padding-bottom @notify-popup-padding-left;


// Fonts
// =====

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

@font-family:'Open Sans', sans-serif;
@font-size:14px;
@font-extra-line-height:10px;
@font-color:#fff;
@font-weight-light:300;
@font-weight-normal:400;
@font-weight-bold:600;


// Icons
// =====

@icon-size:24px;
@icon-correct-color:#51FB66;
@icon-incorrect-color:#F14E4E;

